---
permalink: /sitemap.xml
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for pageEntry in collections.sitemapPages -%}
  <url>
    <loc>{{ site.domain }}{{ pageEntry.url }}</loc>
  </url>
{%- endfor -%}
</urlset>
